body{
    box-sizing: border-box;
    background-color: gray;
    margin: 0;

    overflow: hidden;
    touch-action: none;
}

.canvasContainer{
    width: 100%;
    height: 100vh;
}

#myCanvas{
    background-color: white;
    width: 400px;
    height: 100vh;
    margin-left: 50%;
    transform: translateX(-50%);
    /* width: 100%; */
    /* height: 100%; */
}